<!-- component -->
<div class="bg-sky-100 flex justify-center items-center h-screen">
  <!-- Left: Image -->
  <div class="w-1/2 h-screen hidden lg:block">
    <img src="./assets/img/bgtisalogin.png" alt="Placeholder Image"
      class="object-cover w-full h-full">
  </div>
  <!-- Right: Login Form -->
  <div class="lg:p-36 md:p-52 sm:20 p-8 w-full lg:w-1/2">
    <img src="./assets/img/Logo Tisa y Asitencia Social.png" class="mb-2" alt="Logo">
    <h1 class="text-3xl text-[#414141] mb-4">Iniciar Sesión</h1>
    <form action="#" method="POST">
      <!-- Username Input -->
      <div class="mb-4 bg-sky-100">
        <label for="username" class="block text-gray-600">Correo Electronico</label>
        <input type="text" id="username" name="username"
          class="w-full border border-gray-300 rounded-md py-2 px-3 focus:outline-none focus:border-blue-500"
          autocomplete="off">
      </div>
      <!-- Password Input -->
      <div class="mb-4">
        <label for="password" class="block text-gray-800">Contraseña</label>
        <input type="password" id="password" name="password"
          class="w-full border border-gray-300 rounded-md py-2 px-3 focus:outline-none focus:border-blue-500"
          autocomplete="off">
      </div>
      <!-- Login Button -->
      <button type="submit"
        class="bg-[#f2660c] hover:bg-[#143b8d] text-white font-semibold rounded-md py-2 px-4 w-full">Entrar</button>
    </form>
    <!-- Sign up  Link -->
    <div class="mt-6 text-[#143b8d] text-center">
      <a href="#" class="hover:underline">Registrate</a>
    </div>
  </div>
</div>
