<main class="container main py-5 mx-auto">
  <h1>Configuraciones</h1>

  <section class="bg-white border-0 shadow-lg rounded p-4">
    <form [formGroup]="formConfiguraciones" class="form">

      <div class="form__row">
        <h3>Sincronización <small>(minutos)</small></h3>
      </div>

      <div class="form__row">
        <!-- Intervalo general -->
        <div class="form__row__item">
          <mat-form-field appearance="fill" class="w-full">
            <mat-label>Intervalo general</mat-label>
            <input matInput formControlName="syncInterval" type="number">
          </mat-form-field>
          <mat-slide-toggle formControlName="enableSyncInterval">Activar</mat-slide-toggle>
        </div>

        <!-- Intervalo aspirantes -->
        <div class="form__row__item">
          <mat-form-field appearance="fill" class="w-full">
            <mat-label>Intervalo aspirantes</mat-label>
            <input matInput formControlName="syncAspirantesInterval" type="number">
          </mat-form-field>
          <mat-slide-toggle formControlName="enableSyncAspirantesInterval">Activar</mat-slide-toggle>
        </div>

        <!-- Intervalo CURP -->
        <div class="form__row__item">
          <mat-form-field appearance="fill" class="w-full">
            <mat-label>Intervalo CURP</mat-label>
            <input matInput formControlName="syncCurpInterval" type="number">
          </mat-form-field>
          <mat-slide-toggle formControlName="enableSyncCurpInterval">Activar</mat-slide-toggle>
        </div>

        <!-- Intervalo documentos -->
        <div class="form__row__item">
          <mat-form-field appearance="fill" class="w-full">
            <mat-label>Intervalo documentos aspirantes</mat-label>
            <input matInput formControlName="syncDocumentosInterval" type="number">
          </mat-form-field>
          <mat-slide-toggle formControlName="enableSyncDocumentosInterval">Activar</mat-slide-toggle>
        </div>

        <!-- Intervalo monitor -->
        <div class="form__row__item">
          <mat-form-field appearance="fill" class="w-full">
            <mat-label>Intervalo monitor</mat-label>
            <input matInput formControlName="syncMonitorInterval" type="number">
          </mat-form-field>
          <mat-slide-toggle formControlName="enableSyncMonitorInterval">Activar</mat-slide-toggle>
        </div>

        <!-- Intervalo asistencias -->
        <div class="form__row__item">
          <mat-form-field appearance="fill" class="w-full">
            <mat-label>Intervalo asistencias</mat-label>
            <input matInput formControlName="syncAsistenciaInterval" type="number">
          </mat-form-field>
          <mat-slide-toggle formControlName="enableSyncAsistenciaInterval">Activar</mat-slide-toggle>
        </div>

        <!-- Intervalo digitalizar archivos -->
        <div class="form__row__item">
          <mat-form-field appearance="fill" class="w-full">
            <mat-label>Intervalo digitalizar archivos</mat-label>
            <input matInput formControlName="syncArchivosDigitalizadosInterval" type="number">
          </mat-form-field>
          <mat-slide-toggle formControlName="enableSyncArchivosDigitalizadosInterval">Activar</mat-slide-toggle>
        </div>

        <!-- Intervalo cargar archivos pendientes -->
        <div class="form__row__item">
          <mat-form-field appearance="fill" class="w-full">
            <mat-label>Intervalo cargar archivos pendientes</mat-label>
            <input matInput formControlName="syncCargarArchivosPendientesInterval" type="number">
          </mat-form-field>
          <mat-slide-toggle formControlName="enableSyncCargarArchivosPendientesInterval">Activar</mat-slide-toggle>
        </div>
      </div>

      <div>
        <button mat-raised-button color="primary" (click)="onSubmit()">
          <mat-icon aria-hidden="false" aria-label="Guardar configuración" fontIcon="save"></mat-icon>
          Guardar
        </button>
      </div>
    </form>
  </section>
</main>