<div class="container h-screen py-5 mx-auto">
  <div class="px-6 pt-4 mb-5 bg-white border-0 shadow-lg sm:rounded-3xl">

    <div class="flex items-center justify-between">
      <form [formGroup]="formConsulta" class="flex items-center justify-between flex-wrap gap-2">
        <mat-form-field>
          <mat-label>Módulo</mat-label>
          <mat-select formControlName="modulo">
            @for (modulo of modulos; track modulo) {
            <mat-option [value]="modulo.nombre">{{modulo.nombre}}</mat-option>
            }
          </mat-select>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Modalidad</mat-label>
          <mat-select formControlName="modalidad">
            @for (modalidad of modalidades; track modalidad) {
            <mat-option [value]="modalidad.id">{{modalidad.nombre}}</mat-option>
            }
          </mat-select>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Fecha de registro</mat-label>
          <mat-date-range-input [rangePicker]="picker">
            <input matStartDate formControlName="fechaInicio" placeholder="Inicio">
            <input matEndDate formControlName="fechaFin" placeholder="Fin">
          </mat-date-range-input>
          <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
          <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-date-range-picker #picker></mat-date-range-picker>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Cajero</mat-label>
          <mat-select formControlName="cajero">
            @for (cajero of cajeros; track cajero) {
            <mat-option [value]="cajero.id">{{cajero.email}}</mat-option>
            }
          </mat-select>
        </mat-form-field>

        <mat-form-field class="w-100">
          <mat-label>Buscar</mat-label>
          <input matInput formControlName="search" placeholder="Buscar..." (keyup.enter)="getAspirantesBeneficio()">
        </mat-form-field>
      </form>
    </div>

  </div>


  <div class="px-6 py-5 bg-white border-0 shadow-lg sm:rounded-3xl">
    <div class="flex justify-between items-center">
      <div class="flex justify-start items-center gap-5">
        <button class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded"
          [disabled]="!generado || loading" (click)="downloadExcel()">Descargar XLSX</button>
        <button class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded"
          [disabled]="!generado || loading" (click)="downloadPdf()">Descargar PDF</button>
      </div>

      <div class="flex justify-start items-center gap-5">
        <button (click)="getAspirantesBeneficio()"
          class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded flex justify-between items-center gap-2">
          <span>
            Consultar
          </span>
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
            class="icon icon-tabler icons-tabler-outline icon-tabler-arrow-right-to-arc">
            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
            <path d="M3 12h12" />
            <path d="M11 8l4 4l-4 4" />
            <path d="M12 21a9 9 0 0 0 0 -18" />
          </svg>
        </button>
      </div>
    </div>

    <div *ngIf="loading; else loaded">
      <mat-spinner class="mx-auto my-5"></mat-spinner>
    </div>

    <ng-template #loaded>
      <div class="table-container mat-elevation-z8" style="background-color: white;">
        <table mat-table [dataSource]="dataSource" matSort>

          <!-- CURP -->
          <ng-container matColumnDef="curp">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>CURP</th>
            <td mat-cell *matCellDef="let row"> {{row.curp}} </td>
          </ng-container>

          <!-- Nombre -->
          <ng-container matColumnDef="nombre_completo">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Nombre</th>
            <td mat-cell *matCellDef="let row"> {{row.nombre_completo}}</td>
          </ng-container>

          <!-- Modalidad -->
          <ng-container matColumnDef="nombre_modalidad">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Modalidad</th>
            <td mat-cell *matCellDef="let row"> {{row.nombre_modalidad}} </td>
          </ng-container>

          <!-- Modalidad -->
          <ng-container matColumnDef="modulo">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Módulo</th>
            <td mat-cell *matCellDef="let row"> {{row.modulo}} </td>
          </ng-container>

          <!-- Fecha de registro -->
          <ng-container matColumnDef="fecha_evento">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Fecha de registro</th>
            <td mat-cell *matCellDef="let row"> {{row.fecha_evento | date:'dd/MM/yyyy'}} </td>
          </ng-container>

          <!-- Cajero -->
          <ng-container matColumnDef="email_cajero">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Cajero</th>
            <td mat-cell *matCellDef="let row"> {{row.email_cajero }} </td>
          </ng-container>

          <!-- Telefono -->
          <ng-container matColumnDef="telefono">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Teléfono</th>
            <td mat-cell *matCellDef="let row"> {{row.telefono}} </td>
          </ng-container>

          <!-- Email -->
          <ng-container matColumnDef="email">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Email</th>
            <td mat-cell *matCellDef="let row"> {{row.email}} </td>
          </ng-container>

          <!-- Fecha de nacimiento -->
          <ng-container matColumnDef="fecha_nacimiento">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Fecha de nacimiento</th>
            <td mat-cell *matCellDef="let row"> {{row.fecha_nacimiento | date:'dd/MM/yyyy'}} </td>
          </ng-container>

          <!-- Estado -->
          <ng-container matColumnDef="estado">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Estado</th>
            <td mat-cell *matCellDef="let row"> {{row.estado}} </td>
          </ng-container>

          <!-- Municipio -->
          <ng-container matColumnDef="municipio">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Municipio</th>
            <td mat-cell *matCellDef="let row"> {{row.municipio}} </td>
          </ng-container>

          <!-- CP -->
          <ng-container matColumnDef="cp">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>CP</th>
            <td mat-cell *matCellDef="let row"> {{row.cp}} </td>
          </ng-container>

          <!-- Colonia -->
          <ng-container matColumnDef="colonia">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Colonia</th>
            <td mat-cell *matCellDef="let row"> {{row.colonia}} </td>
          </ng-container>

          <!-- Domicilio -->
          <ng-container matColumnDef="domicilio">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Domicilio</th>
            <td mat-cell *matCellDef="let row"> {{row.domicilio}} </td>
          </ng-container>

          <!-- Grado -->
          <ng-container matColumnDef="grado">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Grado</th>
            <td mat-cell *matCellDef="let row"> {{row.grado}} </td>
          </ng-container>

          <!-- Tipo carrera -->
          <ng-container matColumnDef="tipo_carrera">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Tipo carrera</th>
            <td mat-cell *matCellDef="let row"> {{row.tipo_carrera}} </td>
          </ng-container>

          <!-- Carrera -->
          <ng-container matColumnDef="carrera">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Carrera</th>
            <td mat-cell *matCellDef="let row"> {{row.carrera}} </td>
          </ng-container>

          <!-- Acciones -->
          <ng-container matColumnDef="acciones">
            <th class="text-right" mat-header-cell *matHeaderCellDef> Acciones </th>
            <td mat-cell *matCellDef="let row" class="action-cell">
              <div
                class="flex justify-end items-center gap-2 *:flex *:justify-center *:items-center *:rounded-full *:p-2">

                <button mat-button (click)="openDialog(row.id)" color="primary">Ver más</button>
                @if (permisoAcciones) {
                  <button mat-button color="primary" [routerLink]="['/inicio/editar/', row.id]" >Editar</button>
                <button mat-button (click)="deleteAspiranteBeneficio(row.id)" color="accent">Eliminar</button>
                }
              </div>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="onRowClick($event, row.id)"
            class="cursor-pointer"></tr>

          <!-- Row shown when there is no matching data. -->
          <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell p-5" colspan="4">No hay coincidencias</td>
          </tr>
        </table>
      </div>

      <mat-paginator [length]="total" [pageSize]="perPage" [pageIndex]="currentPage" [pageSizeOptions]="[5, 10, 20]"
        showFirstLastButtons (page)="onPaginateChange($event)">
      </mat-paginator>
    </ng-template>
  </div>

</div>
