<main class="container main py-5 mx-auto">
  <section class="digitalizador">
    <div class="digitalizador__toolbar">
      <div class="toolbar__side">
        <div>
          <button mat-raised-button (click)="toggleMonitoreo()" class="btn" [disabled]="sinConfiguracion"
            [title]="sinConfiguracion ? 'Falta configuración' : 'Iniciar / Detener monitoreo'">
            <div>
              <svg class="button-icon" *ngIf="isMonitoring; else notMonitoring" xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 384 512">
                <path
                  d="M0 128C0 92.7 28.7 64 64 64H320c35.3 0 64 28.7 64 64V384c0 35.3-28.7 64-64 64H64c-35.3 0-64-28.7-64-64V128z" />
              </svg>
              <ng-template #notMonitoring>
                <svg class="button-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512">
                  <path
                    d="M73 39c-14.8-9.1-33.4-9.4-48.5-.9S0 62.6 0 80L0 432c0 17.4 9.4 33.4 24.5 41.9s33.7 8.1 48.5-.9L361 297c14.3-8.7 23-24.2 23-41s-8.7-32.2-23-41L73 39z" />
                </svg>
              </ng-template>
            </div>
          </button>
        </div>
        <div *ngIf="isMonitoring" class="monitoring">
          <div class="justify-start animate-spin">
            <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" viewBox="0 0 24 24" fill="none"
              stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
              class="icon icon-tabler icons-tabler-outline icon-tabler-rotate-clockwise">
              <path stroke="none" d="M0 0h24v24H0z" fill="none" />
              <path d="M4.05 11a8 8 0 1 1 .5 4m-.5 5v-5h5" />
            </svg>
          </div>
          <div class="monitoring__text">
            <p class="">Monitoreando...</p>
          </div>
        </div>
      </div>
      <div class="toolbar__side">
        <button mat-raised-button (click)="toggleModalCaratula()">
          <svg width="26" height="26" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M10 14H14M13 3H8.2C7.0799 3 6.51984 3 6.09202 3.21799C5.71569 3.40973 5.40973 3.71569 5.21799 4.09202C5 4.51984 5 5.0799 5 6.2V17.8C5 18.9201 5 19.4802 5.21799 19.908C5.40973 20.2843 5.71569 20.5903 6.09202 20.782C6.51984 21 7.0799 21 8.2 21H15.8C16.9201 21 17.4802 21 17.908 20.782C18.2843 20.5903 18.5903 20.2843 18.782 19.908C19 19.4802 19 18.9201 19 17.8V9M13 3L19 9M13 3V7.4C13 7.96005 13 8.24008 13.109 8.45399C13.2049 8.64215 13.3578 8.79513 13.546 8.89101C13.7599 9 14.0399 9 14.6 9H19"
              stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
          </svg>
        </button>
        <button mat-raised-button (click)="toggleModalUploadEsperadosTipoArchivo()">
          <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" viewBox="0 0 24 24" fill="none"
            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
            class="icon icon-tabler icons-tabler-outline icon-tabler-file-upload">
            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
            <path d="M14 3v4a1 1 0 0 0 1 1h4" />
            <path d="M17 21h-10a2 2 0 0 1 -2 -2v-14a2 2 0 0 1 2 -2h7l5 5v11a2 2 0 0 1 -2 2z" />
            <path d="M12 11v6" />
            <path d="M9.5 13.5l2.5 -2.5l2.5 2.5" />
          </svg>
        </button>
        <button mat-raised-button (click)="toggleModalConfiguraciones()">
          <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" viewBox="0 0 24 24" fill="none"
            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
            class="icon icon-tabler icons-tabler-outline icon-tabler-settings">
            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
            <path
              d="M10.325 4.317c.426 -1.756 2.924 -1.756 3.35 0a1.724 1.724 0 0 0 2.573 1.066c1.543 -.94 3.31 .826 2.37 2.37a1.724 1.724 0 0 0 1.065 2.572c1.756 .426 1.756 2.924 0 3.35a1.724 1.724 0 0 0 -1.066 2.573c.94 1.543 -.826 3.31 -2.37 2.37a1.724 1.724 0 0 0 -2.572 1.065c-.426 1.756 -2.924 1.756 -3.35 0a1.724 1.724 0 0 0 -2.573 -1.066c-1.543 .94 -3.31 -.826 -2.37 -2.37a1.724 1.724 0 0 0 -1.065 -2.572c-1.756 -.426 -1.756 -2.924 0 -3.35a1.724 1.724 0 0 0 1.066 -2.573c-.94 -1.543 .826 -3.31 2.37 -2.37c1 .608 2.296 .07 2.572 -1.065z" />
            <path d="M9 12a3 3 0 1 0 6 0a3 3 0 0 0 -6 0" />
          </svg>
        </button>
      </div>
    </div>
    <div class="digitalizador__estado">
      <form [formGroup]="formFiltrosDigitalizador" class="form" style="max-width: 100%;">
        <div class="form__row form__row--responsive">
          <div class="form__item">
            <mat-form-field class="w-full">
              <mat-label>Fecha de carga</mat-label>
              <mat-date-range-input [rangePicker]="picker">
                <input matStartDate formControlName="fechaInicio" placeholder="Inicio" />
                <input matEndDate formControlName="fechaFin" placeholder="Fin" />
              </mat-date-range-input>
              <mat-hint>DD/MM/YYYY – DD/MM/YYYY</mat-hint>
              <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-date-range-picker #picker></mat-date-range-picker>
            </mat-form-field>
          </div>
          <div class="form__item">
            <mat-form-field class="w-full">
              <mat-label>Tipos</mat-label>
              <mat-select formControlName="tipo">
                <mat-option value="">- Selecciona una opción -</mat-option>
                @for (tdd of tipos; track tdd) {
                <mat-option [value]="tdd.id">{{tdd.tipo_doc_dig}}</mat-option>
                }
              </mat-select>
              <mat-hint *ngIf="formFiltrosDigitalizador.get('grupo')?.disabled">
                Selecciona un tipo y fechas válidas para habilitar
              </mat-hint>
            </mat-form-field>
          </div>
        </div>
        <div class="form__row">
          <div class="form__item">
            <mat-form-field class="w-full">
              <mat-label>Grupo</mat-label>
              <mat-select formControlName="grupo" [disabled]="formFiltrosDigitalizador.get('tipo')?.disabled ?? false">
                <mat-option value="">- Selecciona una opción -</mat-option>
                @for (grupo of grupos; track grupo) {
                <mat-option [value]="grupo.nombre_archivo_upload">{{grupo.nombre_archivo_upload}}</mat-option>
                }
              </mat-select>
              <mat-hint *ngIf="formFiltrosDigitalizador.get('grupo')?.disabled">
                Selecciona un tipo y fechas válidas para habilitar
              </mat-hint>
            </mat-form-field>
          </div>
        </div>
      </form>

      <div class="info">
        <div class="esperadas">
          <h5>Esperadas para las fechas seleccionadas</h5>
          <mat-list role="list" class="esperadas__list">
            @for (item of atencionSinCitaDetalles; track item) {
            <mat-list-item role="listitem">
              <div class="esperadas__item">
                <span class="esperadas__modulo">{{ item.modulo }}</span>
                <span class="esperadas__cantidad">{{ item.total_registros }}</span>
              </div>
            </mat-list-item>
            }
          </mat-list>
        </div>
        <div class="chart">
          <h5>Estado de digitalización para grupo seleccionado</h5>
          <div>
            <canvas #myBarChart class="w-full h-full" id="myBarChart"> {{ chart }} </canvas>
          </div>

          <div class="numeros">
            <div class="numeros__item">
              <span class="numeros__numero">{{ esperadas | number}}</span>
              <span class="numeros__texto">Esperadas</span>
            </div>
            <div class="numeros__item">
              <span class="numeros__numero">{{ digitalizadas | number }}</span>
              <span class="numeros__texto">Digitalizadas</span>
            </div>
            <div class="numeros__item">
              <span class="numeros__numero">{{ enviadas | number}}</span>
              <span class="numeros__texto">Enviadas</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="listas">
    <div class="pendientes">
      <div class="flex justify-between w-full">
        <h4>Pendientes por enviar</h4>
        <h4>{{ archivosPendientesEnviar.length }}</h4>
      </div>

      <mat-list class="pendientes__list" role="list">
        @for (archivo of archivosPendientesEnviar; track archivo) {
        <mat-list-item role="listitem">
          <div class="pendientes__list__item">
            {{ archivo.nombre_archivo }}
          </div>
        </mat-list-item>
        } @empty {
        <mat-list-item role="listitem">No se encontraron archivos para el grupo seleccionado</mat-list-item>
        }
      </mat-list>
    </div>

    <div class="busqueda">
      <h4>Buscar archivos esperados</h4>

      <form [formGroup]="formBusqueda" class="form busqueda__form">
        <div class="form__row">
          <div class="form__item">
            <mat-form-field class="w-full">
              <mat-label>Nombre del archivo</mat-label>
              <input matInput formControlName="search" (keyup)="getArchivosEsperados()"
                placeholder="Nombre del archivo">
            </mat-form-field>
          </div>
        </div>
      </form>

      <mat-list class="busqueda__list" role="list">
        @for (archivo of archivosEsperados; track archivo.id) {
        <mat-list-item role="listitem">
          <div class="busqueda__list__item">
            <span class="busqueda__list__item__archivo">{{ archivo.nombre_archivo }}</span>
            <small class="busqueda__list__item__status">{{ archivo.status == 1 ? 'Enviada' : 'Esperada' }}</small>
          </div>
        </mat-list-item>
        } @empty {
        <mat-list-item role="listitem">No se encontraron archivos</mat-list-item>
        }
      </mat-list>
    </div>
  </section>
</main>

<!-- MODALES -->

@if(showModalCaratulas){
<div class="fixed inset-0 transition-opacity z-40" aria-hidden="true" (click)="toggleModalCaratula()">
  <div class="absolute inset-0 bg-gray-500 opacity-75"></div>
</div>
<div x-show="showModalCaratulas" x-transition:enter="transition ease-out duration-300 transform"
  class="fixed z-50 inset-0 overflow-y-auto" x-cloak>
  <div class="flex items-end justify-center min-h-screen pt-4 px-4 pb-20 text-center sm:block sm:p-0">
    <!-- Modal Configuraciones Globales -->
    <div style="min-width: 800px;"
      class="w-full inline-block align-bottom bg-white rounded-lg text-left overflow-hidden shadow-xl transform transition-all sm:my-8 sm:align-middle sm:max-w-2xl sm:w-full"
      role="dialog" aria-modal="true" aria-labelledby="modal-headline">
      <div class="bg-white px-4 pt-5 pb-4 sm:p-6 sm:pb-4">
        <!-- Modal content -->
        <div class="flex flex-col items-center justify-center">
          <div class="mt-3 text-center sm:mt-0 sm:text-left w-full">
            <h3 class="text-lg leading-6 font-medium text-gray-900" id="modal-headline">
              Impresión de carátulas
            </h3>

            <form [formGroup]="formCaratula" class="form busqueda__form mt-3">
              <div class="form__row">
                <mat-form-field class="w-full">
                  <mat-label>Impresora</mat-label>
                  <mat-select class="w-full" formControlName="impresora">
                    <mat-option class="w-full" *ngFor="let impresora of printers" [value]="impresora.name">{{
                      impresora.name
                      }}</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>

              <mat-tab-group (selectedIndexChange)="activeTab = $event">
                <mat-tab label="Automática">
                  <div class="form__row mt-2">
                    <div class="form__item">
                      <mat-form-field class="w-full">
                        <mat-label>Fecha</mat-label>
                        <input matInput [matDatepicker]="picker" formControlName="fecha">
                        <mat-hint>DD/MM/YYYY</mat-hint>
                        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                      </mat-form-field>
                    </div>
                    <div class="form__item">
                      <mat-form-field class="w-full">
                        <mat-label>Módulo</mat-label>
                        <mat-select class="w-full" formControlName="id_modulo">
                          <mat-option class="w-full" *ngFor="let modulo of modulos" [value]="modulo.id">{{
                            modulo.nombre
                            }}</mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>
                  </div>
                </mat-tab>
                <mat-tab label="Manual">
                  <div class="form__row mt-2">
                    <div class="form__item">
                      <mat-form-field class="w-full">
                        <mat-label>Nombre del archivo</mat-label>
                        <input matInput formControlName="curp" placeholder="Nombre del archivo"
                          (keyup)="toUpperCaseCurp($event)">
                        <mat-error *ngIf="formCaratula.get('curp')?.hasError('pattern')">
                          Ingresa una CURP válida (18 caracteres alfanuméricos).
                        </mat-error>
                      </mat-form-field>
                    </div>
                  </div>
                </mat-tab>
              </mat-tab-group>
            </form>

          </div>
        </div>
      </div>
      <div class="bg-gray-50 px-4 py-3 sm:px-6 sm:flex sm:flex-row-reverse">
        <button (click)="imprimirCaratulas()" type="button"
          class="w-full inline-flex justify-center rounded-md border border-transparent shadow-sm px-4 py-2 bg-blue-500 text-base font-medium text-white hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500 sm:ml-3 sm:w-auto sm:text-sm">
          {{ activeTab === 1 ? 'Imprimir' : 'Consultar' }}
        </button>
        <button (click)="toggleModalCaratula()" type="button"
          class="mt-3 w-full inline-flex justify-center rounded-md border border-gray-300 shadow-sm px-4 py-2 bg-white text-base font-medium text-gray-700 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-200 sm:mt-0 sm:ml-3 sm:w-auto sm:text-sm">
          Cancelar
        </button>
      </div>
    </div>
  </div>
</div>

}

@if(showModalConfirmarCaratulas){
<div class="fixed inset-0 transition-opacity z-60" aria-hidden="true" (click)="toggleModalConfirmarCaratula()">
  <div class="absolute inset-0 bg-gray-500 opacity-75"></div>
</div>
<div x-show="showModalConfirmarCaratulas" x-transition:enter="transition ease-out duration-300 transform"
  class="fixed z-70 inset-0 overflow-y-auto" x-cloak>
  <div class="flex items-end justify-center min-h-screen pt-4 px-4 pb-20 text-center sm:block sm:p-0">
    <!-- Modal Configuraciones Globales -->
    <div style="min-width: 800px;"
      class="w-full inline-block align-bottom bg-white rounded-lg text-left overflow-hidden shadow-xl transform transition-all sm:my-8 sm:align-middle sm:max-w-2xl sm:w-full"
      role="dialog" aria-modal="true" aria-labelledby="modal-headline">
      <div class="bg-white px-4 pt-5 pb-4 sm:p-6 sm:pb-4">
        <!-- Modal content -->
        <div class="flex flex-col items-center justify-center">
          <div class="mt-3 text-center sm:mt-0 sm:text-left w-full">
            <h3 class="text-lg leading-6 font-medium text-gray-900" id="modal-headline">
              Confirmar impresión de carátulas
            </h3>

            <div class="flex items-center justify-between">
              <mat-checkbox (change)="toggleSeleccionarTodos($event, seleccionCaratulas)">Todos</mat-checkbox>
              <p>
                {{seleccionCaratulas.selectedOptions.selected.length}} Seleccionados de {{ caratulas.length }}
              </p>
            </div>

            <mat-selection-list #seleccionCaratulas class="caratulas__list">
              @for (caratula of caratulas; track caratula) {
              <mat-list-option [value]="caratula">{{caratula}}</mat-list-option>
              }
            </mat-selection-list>
          </div>
        </div>
      </div>
      <div class="bg-gray-50 px-4 py-3 sm:px-6 sm:flex sm:flex-row-reverse">
        <button (click)="crearCaratula(getSelectedValues(seleccionCaratulas.selectedOptions.selected))" type="button"
          class="w-full inline-flex justify-center rounded-md border border-transparent shadow-sm px-4 py-2 bg-blue-500 text-base font-medium text-white hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500 sm:ml-3 sm:w-auto sm:text-sm">
          Imprimir
        </button>
        <button (click)="downloadXlsx(getSelectedValues(seleccionCaratulas.selectedOptions.selected))" type="button"
          class="w-full inline-flex justify-center rounded-md border border-transparent shadow-sm px-4 py-2 bg-blue-500 text-base font-medium text-white hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500 sm:ml-3 sm:w-auto sm:text-sm">
          XLSX
        </button>
        <button (click)="cancelarConfirmarCaratula()" type="button"
          class="mt-3 w-full inline-flex justify-center rounded-md border border-gray-300 shadow-sm px-4 py-2 bg-white text-base font-medium text-gray-700 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-200 sm:mt-0 sm:ml-3 sm:w-auto sm:text-sm">
          Cancelar
        </button>
      </div>
    </div>
  </div>
</div>

}

@if(showModalConfiguraciones){
<div class="fixed inset-0 transition-opacity" aria-hidden="true" (click)="toggleModalConfiguraciones()">
  <div class="absolute inset-0 bg-gray-500 opacity-75"></div>
</div>
<!-- Modal -->
<div x-show="showModalConfiguraciones" x-transition:enter="transition ease-out duration-300 transform"
  class="fixed z-10 inset-0 overflow-y-auto" x-cloak>
  <div class="flex items-end justify-center min-h-screen pt-4 px-4 pb-20 text-center sm:block sm:p-0">
    <!-- Modal Configuraciones Globales -->
    <div style="min-width: 800px;"
      class="w-full inline-block align-bottom bg-white rounded-lg text-left overflow-hidden shadow-xl transform transition-all sm:my-8 sm:align-middle sm:max-w-2xl sm:w-full"
      role="dialog" aria-modal="true" aria-labelledby="modal-headline">
      <div class="bg-white px-4 pt-5 pb-4 sm:p-6 sm:pb-4">
        <!-- Modal content -->
        <div class="flex flex-col items-center justify-center">
          <div class="mt-3 text-center sm:mt-0 sm:text-left w-full">
            <h3 class="text-lg leading-6 font-medium text-gray-900" id="modal-headline">
              Configuraciones
            </h3>

            <form [formGroup]="formConfiguracion" class="form busqueda__form">
              <div class="form__row">
                <div class="form__item">
                  <button mat-raised-button matSuffix (click)="selectFolder('rutaOrigen')">
                    <mat-icon>folder</mat-icon>
                    <span>Seleccionar ruta origen</span>
                  </button>
                </div>
                <div class="form__item">
                  <button mat-raised-button matSuffix (click)="selectFolder('rutaDestino')">
                    <mat-icon>folder</mat-icon>
                    <span>Seleccionar ruta destino</span>
                  </button>
                </div>
              </div>
              <div class="form__row">
                <div class="form__item" (click)="selectFolder('rutaOrigen')">
                  <mat-form-field class="w-full">
                    <mat-label>Ruta origen</mat-label>
                    <input matInput formControlName="rutaOrigen" webkitdirectory directory id="sourceInput" readonly />
                  </mat-form-field>
                </div>
              </div>
              <div class="form__row">
                <div class="form__item" (click)="selectFolder('rutaDestino')">
                  <mat-form-field class="w-full">
                    <mat-label>Ruta destino</mat-label>
                    <input matInput formControlName="rutaDestino" webkitdirectory directory id="destinationInput"
                      readonly />
                  </mat-form-field>
                </div>
              </div>
              <div class="form__row">
                <mat-form-field class="w-full">
                  <mat-label>Tipo Documento a Digitalizar</mat-label>
                  <mat-select class="w-full" formControlName="tipo">
                    <mat-option class="w-full" *ngFor="let tipo of tipos" [value]="tipo.id">{{ tipo.tipo_doc_dig
                      }}</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="form__row">
                <div class="form__item">
                  <mat-form-field class="w-full">
                    <mat-label>Expresión Regular</mat-label>
                    <input matInput formControlName="regexCurp" />
                  </mat-form-field>
                </div>
              </div>
              <div class="form__row">
                <div class="form__item">
                  <mat-form-field class="w-full">
                    <mat-label>Extensión</mat-label>
                    <mat-select class="" formControlName="extension">
                      <mat-option class="" *ngFor="let extension of extensiones" [value]="extension.nombre">{{
                        extension.nombre }}</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="form__item">
                  <mat-form-field class="w-full">
                    <mat-label>Intervalo de sincronización (s)</mat-label>
                    <input matInput formControlName="intervaloSincronizacion" placeholder="Tiempo en segundos" min="1">
                  </mat-form-field>
                </div>
                <div class="form__item">
                  <mat-form-field class="w-full">
                    <mat-label>Peso mínimo (KB)</mat-label>
                    <input matInput formControlName="pesoMinimo" placeholder="Peso minimo en kilobytes" min="1">
                  </mat-form-field>
                </div>
              </div>
              <div class="form__row--short">
                <div class="form__item--short">
                  <strong>
                    <h4>Carátula</h4>
                  </strong>
                </div>
                <div class="form__item--short">
                  <mat-slide-toggle formControlName="qr">QR</mat-slide-toggle>
                </div>
                <div class="form__item--short">
                  <mat-slide-toggle formControlName="barras">Código de barras</mat-slide-toggle>
                </div>
              </div>
            </form>

            <div class="mt-2">
              <div class="input-group">
                <input type="file" webkitdirectory directory (change)="onSourcePathSelected($event)"
                  style="display: none" />
                <input type="file" id="" webkitdirectory directory (change)="onDestinationPathSelected($event)"
                  style="display: none" />
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="bg-gray-50 px-4 py-3 sm:px-6 sm:flex sm:flex-row-reverse">
        <button (click)="saveConfig()" type="button"
          class="w-full inline-flex justify-center rounded-md border border-transparent shadow-sm px-4 py-2 bg-blue-500 text-base font-medium text-white hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500 sm:ml-3 sm:w-auto sm:text-sm">
          Guardar
        </button>
        <button (click)="toggleModalConfiguraciones()" type="button"
          class="mt-3 w-full inline-flex justify-center rounded-md border border-gray-300 shadow-sm px-4 py-2 bg-white text-base font-medium text-gray-700 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-200 sm:mt-0 sm:ml-3 sm:w-auto sm:text-sm">
          Cancel
        </button>
      </div>
    </div>
  </div>
</div>

}

@if(showModalUploadEsperadosTipoArchivo){
<div class="fixed inset-0 transition-opacity" aria-hidden="true" (click)="toggleModalUploadEsperadosTipoArchivo()">
  <div class="absolute inset-0 bg-gray-500 opacity-75"></div>
</div>
<!-- Modal -->
<div x-show="showModal_upload_esperados_tipo_archivo" x-transition:enter="transition ease-out duration-300 transform"
  class="fixed z-10 inset-0 overflow-y-auto" x-cloak>
  <div class="flex items-end justify-center min-h-screen pt-4 px-4 pb-20 text-center sm:block sm:p-0">
    <!-- Modal Upload Esperados por Tipo de Documento -->
    <div
      class="w-full inline-block align-bottom bg-white rounded-lg text-left overflow-hidden shadow-xl transform transition-all sm:my-8 sm:align-middle sm:max-w-2xl sm:w-full"
      role="dialog" aria-modal="true" aria-labelledby="modal-headline">
      <div class="bg-white px-4 pt-5 pb-4 sm:p-6 sm:pb-4">
        <!-- Modal content -->
        <div class="flex flex-col items-center justify-center">
          <div class="mt-3 text-center sm:mt-0 sm:text-left w-full">
            <h3 class="text-lg leading-6 font-medium text-gray-900" id="modal-headline">
              Importación de archivos esperados
            </h3>

            <form [formGroup]="myForm_Upload" class="my-3">
              <div class="form__row">
                <div class="form__item">
                  <button mat-raised-button class="w-full">
                    <label for="txtFile" class="w-full text-nowrap">
                      Importar Archivos Esperados XLSX
                    </label>
                    <div>
                      <input type="file" #fileInput id="txtFile" accept=".xls,.xlsx" style="display:none;" name="file"
                        formControlName="file" (change)="onFileSelected($event)">
                    </div>
                  </button>
                </div>
                <div class="form__item">
                  <button mat-raised-button (click)="downloadPlantilla()">Descargar plantilla</button>
                </div>
              </div>
            </form>

          </div>
        </div>
      </div>
      <div class="bg-gray-50 px-4 py-3 sm:px-6 sm:flex sm:flex-row-reverse">
        <button (click)="toggleModalUploadEsperadosTipoArchivo()" type="button"
          class="w-full inline-flex justify-center rounded-md border border-gray-300 shadow-sm px-4 py-2 bg-white text-base font-medium text-gray-700 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-200 sm:mt-0 sm:ml-3 sm:w-auto sm:text-sm">
          Cancel
        </button>
      </div>
    </div>
  </div>
</div>

}