<div class="flex flex-col gap-4">
  <div class="basis-full bg-gray-100">
    <div class="bg-white border-0 shadow-lg sm:rounded-3xl">

      <div class="flex flex-col items-center p-4">
        <!-- Camera device selection -->
        <select [(ngModel)]="selectedDevice" (ngModelChange)="startStream()" class="w-full p-2 mb-4 border rounded-lg">
          <option value="">Select a camera</option>
          <option *ngFor="let device of devices; let i = index" [value]="device.deviceId">
            {{ device.label || 'Camera ' + (i + 1) }}
          </option>
        </select>

        <!-- Camera video stream -->
        <div class="relative w-full h-[210px] aspect-video bg-gray-200 rounded-lg overflow-hidden mb-4">
          <video #videoElement autoplay playsinline class="w-full h-full object-cover"></video>
          @if (stream) {
          <div class="absolute top-2 right-2 w-3 h-3 bg-red-500 rounded-full animate-ping"></div>
          }
        </div>

        <!-- Captured image -->
        <div class="w-[255px] aspect-square bg-gray-100 rounded-lg overflow-hidden ">
          @if (capturedImage) {
          <img [src]="capturedImage" alt="Captured photo" class="w-full h-full object-cover">
          } @else if (imgFoto()) {
          <img [src]="imgFoto()" alt="Captured photo" class="w-full h-full object-cover">
          } @else {
          <div class="w-full h-full flex items-center justify-center text-gray-400">
            Foto no capturada
          </div>
          }
        </div>



        <!-- Hidden canvas for capturing photos -->
        <canvas #canvas hidden></canvas>
      </div>

    </div>
  </div>

  <div class="basis-full bg-gray-100">
    <div class="py-2 flex gap-2 items-center flex-row justify-left  bg-white border-0 shadow-lg sm:rounded-3xl px-2">

      <!-- Capture button -->
      <button (click)="capturePhoto()" [disabled]="!stream"
        class="rounded-full w-16 h-16  bg-[#f26507]  border-2 border-gray-300 focus:outline-none focus:ring-2 focus:ring-blue-500 disabled:opacity-50 disabled:cursor-not-allowed">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="white"
          class="w-8 h-8 text-gray-800 mx-auto">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
            d="M3 9a2 2 0 012-2h.93a2 2 0 001.664-.89l.812-1.22A2 2 0 0110.07 4h3.86a2 2 0 011.664.89l.812 1.22A2 2 0 0018.07 7H19a2 2 0 012 2v9a2 2 0 01-2 2H5a2 2 0 01-2-2V9z">
          </path>
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 13a3 3 0 11-6 0 3 3 0 016 0z">
          </path>
        </svg>
        <span class="sr-only">Capture photo</span>
      </button>

      <!-- Register button -->
      @if(!datosGeneralesComponent.editar) {
      <button (click)="onSubmit()" [disabled]="!capturedImage"
        class="rounded-full w-3/4 flex flex-col items-center justify-center bg-blue-500 hover:bg-blue-600 text-xs text-white text-center font-bold p-2 focus:outline-none focus:ring-2 focus:ring-blue-500 disabled:opacity-50 disabled:cursor-not-allowed">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
          stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
          class="icon icon-tabler icons-tabler-outline icon-tabler-arrow-right-to-arc">
          <path stroke="none" d="M0 0h24v24H0z" fill="none" />
          <path d="M3 12h12" />
          <path d="M11 8l4 4l-4 4" />
          <path d="M12 21a9 9 0 0 0 0 -18" />
        </svg>
        Registrar
      </button>
      } @else{
      <button (click)="onEdit()" 
        class="rounded-full w-3/4 flex flex-col items-center justify-center bg-rose-500 hover:bg-blue-600 text-xs text-white text-center font-bold p-2 focus:outline-none focus:ring-2 focus:ring-blue-500 disabled:opacity-50 disabled:cursor-not-allowed">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
          stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
          class="icon icon-tabler icons-tabler-outline icon-tabler-edit">
          <path stroke="none" d="M0 0h24v24H0z" fill="none" />
          <path d="M7 7h-1a2 2 0 0 0 -2 2v9a2 2 0 0 0 2 2h9a2 2 0 0 0 2 -2v-1" />
          <path d="M20.385 6.585a2.1 2.1 0 0 0 -2.97 -2.97l-8.415 8.385v3h3l8.385 -8.415z" />
          <path d="M16 5l3 3" />
        </svg>
        Editar
      </button>
      }

    </div>
  </div>

  <div class="basis-full bg-gray-100">
    <div class="py-2 flex gap-2 items-center flex-row justify-left  bg-white border-0 shadow-lg sm:rounded-3xl px-2">
      <div class="">
        <mat-checkbox class="example-margin">Validado por SSAS</mat-checkbox>
      </div>
      <div class="w-full p-3">
        <div
          class="relative border-dotted h-10 rounded-lg border-dashed border-2 border-blue-700 bg-gray-100 flex justify-center items-center">

          <div class="absolute">
            <div class="flex gap-2 items-center text-gray-400">
              <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-folder-open"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M5 19l2.757 -7.351a1 1 0 0 1 .936 -.649h12.307a1 1 0 0 1 .986 1.164l-.996 5.211a2 2 0 0 1 -1.964 1.625h-14.026a2 2 0 0 1 -2 -2v-11a2 2 0 0 1 2 -2h4l3 3h7a2 2 0 0 1 2 2v2" /></svg>
                <span class="block text-gray-400 " id="fileName">{{ lblUploadingFile ? lblUploadingFile : 'Adjunte sus archivos aquí' }}</span>
            </div>
          </div>

          <input type="file" class="h-full w-full opacity-0" name="" (change)="onFileSelected($event)">

        </div>
      </div>
      <!-- <div class="">
          <input type="file" id="txtFile" accept=".pdf">
          <label style="font-weight: 500;">documentos subido</label> -->
      <!-- <label style="font-weight: 500;">{{lblUploadingFile}}</label> -->
      <!-- </div> -->
    </div>
  </div>

</div>
